:root {
    /* 폰트 */
    --main-font: 'Inter', sans-serif;

    /* 색상 */
    --color-primary: #1B4B66;
    --color-primary-tint: #639599;
    --color-error: #B00020;
    --color-highlight: #FF8C4B;
    --color-dark: #13101E;
    --color-bright: #FFFFFF;
    --color-light-text: #B6B6B6;
    --color-high-emphasis: #171520;
    --color-low-emphasis: #626262;
    --color-grey: #F1F1F1;
    --color-accent: #F4F4F4;

    /* font-style
    40px
    34px
    20px
    16px
    14px
    12px

    font-weigh
    700
    600
    500
    400

    line-height
    52px
    44px
    26px
    20px
    18px
    16px */
  
}

body {
    font-family: var(--main-font);
    color: var(--color-high-emphasis);
}


